.profile-form-wrap {
  background-image: image-url("wintry-2915190_1280.png");
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.profile-form-wrap label {
  font-weight: bold;
}

.edit-profile-wrapper {
  margin-top: 60px;
}

